<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761239804302-1cgiuktgqshqkm1pbuj0q4n2it5fusjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761239804302-1cgiuktgqshqkm1pbuj0q4n2it5fusjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761239804302-tp9lraj74agqh42fn6mq7fcraenvp1fj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_hUdqKOq1NOXyIMknt7d5fOLePSQmNIw</string>
	<key>GCM_SENDER_ID</key>
	<string>761239804302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-cc434</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-cc434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761239804302:ios:d1b5e26a81cf63ee662cdf</string>
</dict>
</plist>